* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: tomato;
    padding: 8px 16px;
    height: 70px;
    position: fixed;
    width: 80%;
}

.main-header-logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}

.main-nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.main-nav-item {
    margin: 0 10px;
}

.main-nav-item a {
    text-decoration: none;
    color: #fff;
}

.main-nav-item a:hover {
    color: rgb(38, 39, 59);
}

#showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top left, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)), url('/images/home-bg.jpeg');
    background-position: center;
    background-size: cover;
    background-color: rgb(38, 39, 59);
    color: aliceblue;
    padding: 10px;
    width: 100%;
    height: 80vh;
    margin-top: 70px;
}

#showcase .content {
    background: rgba(46, 76, 109, 0.2);
    color: white;
    border-radius: 10px;
    padding: 60px;
    width: 50%;
    text-align: center;
}

#showcase .content h1 {
    font-size: 50px;
}

#how-it-works {
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

#how-it-works h2 {
    color: #3e4555;
    font-size: 30px;
    font-weight: 600;
}



.icon-box i {
    color: tomato;
    font-size: 50px;
    border-radius: 5px;
}

.icon-box h3 {
    color: #3e4555;
    font-size: 22px;
}

.features-left {
    background: url("/images/features.jpeg");
    background-position: top center;
    background-size: cover;
}

.features-right {
    background-color: #EDF5F7;
    padding: 40px;
    vertical-align: top;
}

.features-right h3 {
    font-size: 30px;
}


.section-title {
    text-align: center;
    font-size: 30px;
    margin: 10px 0;
}

.plan {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: #EDF5F7;
    border-radius: 5px;
}

.recommended-plan {
    background-color: #396EB0 !important;
    color: #fff;
}


.plan-badge {
    background-color: #fff;
    color: tomato;
    padding: 8px;
    border-radius: 5px;
}

.plan ul {
    list-style-type: none;
    padding: 0;
}

.plan ul li {
    margin: 6px 0;
}

/* Responsive yapıya göre tasarım */

/* Tarayıcının genişliği 0-700px arasındayken buraya yazacağımız kodlar çalışacaktır */
@media (max-width: 700px) {
    .main-header {
        flex-direction: column;
        width: 100%;
    }

    .container {
        width: 100%;
    }
}

@media (max-width: 900px) {
    #showcase {
        height: 50vh;
    }

    #showcase .content h1 {
        font-size: 25px;
    }

    #showcase .content h2 {
        font-size: 20px;
    }

    #showcase .content {
        padding: 20px;
    }
}

@media (max-width: 1000px) {
    .hiw-row {
        flex-direction: column;
        align-items: center;
    }

    .hiw-row .col-3 {
        width: 100%;
        margin-bottom: 30px;
    }
}